# Ignore dependency directories recursively
**/[Cc]ode/**  
**/yay/**  
**/session/**  
**/pulse/**  
**/nautilus/**  
**/neofetch/**  
**/ml4w-hyprland-settings/**  
**/Kitware/**  
**/kitty/**  
**/kde.org/**  
**/go/**  
**/fish/**  
**/dconf/**  
**/clipse/**  
**/chromium/**  
**/chezmoi/**
**/gthumb/** 
**/google-chrome/**
**/btop/**